.generic-leaderboard-table {
    /* border: 1px solid black; */
    border-collapse: collapse;
}

#rank-header {
    min-width: 10vw;
}

#user-header {
    min-width: 20vw;
}

.sp-col {
    width: 10vw;
}

.br {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.bl {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.blr {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

/* .leaderboard-header :hover {
    background-color: yellow;
} */

.leaderboard-header {
    cursor: pointer;
}

.user-row {
    border: 1.9px dashed black;
    padding-left: 1vw;
    padding-right: 1vw;
}

.generic-leaderboard-tbody:before {
    /* content:"@"; */
    /* display:block; */
    /* line-height:10px; */
    /* text-indent:-99999px; */
}