.qb_selector_select {
    /* float: right;
    width: 14vw; */
    /* border:1px solid green; */
    grid-column: 2;
    justify-self: stretch;
    align-self: center;
    max-width: 100%;
    padding-right: 5px;
}

#prediction-period-changer {
    display: grid;
    /* grid-template-columns: 10% 20% 15% 20% 10% 25%; */
    /* grid-template-rows: 100%; */
    grid-template-columns: 30% 40% 40%;
    grid-template-rows: 40% 60%;
    /* border: 1px solid black; */
}

.prediction-period-changer-text {
    /* border: 1px solid blue; */
    justify-self: center;
    align-self: center;
}

.prediction-period-changer-selecter {
    justify-self: center;
    align-self: center;
}


#bottom-left-message {
    grid-row: 10;
    grid-column-start: 4;
    grid-column-end: 6;
    justify-self: center;
    align-self: center;
}

.bottom-left-message-green {
    color: green;
}

.AFC {
    background-color: rgba(206,17,38,0.8);
}

.NFC {
    background-color: rgba(0,59,102,0.8);
}

.conference_logo {
    /* max-width: 100%; */
    max-width: 5vw;
    align-self: center;
     /* border: 1px solid purple; */
}

#prediction-period-changer-button-div {
    display: grid;
    grid-template-columns: 50% 50%;
}


#save-button {
    font-size: 20px !important;
    margin: 10px 0px;
    width: 50%;
    justify-self: right;
    grid-row: 10;
    grid-column: 5;
}

.tqbc-black-button {
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.tqbc-green-button {
    background-color: darkgreen;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.tqbc-red-button {
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}