#mobile-menu-parent-div {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#mobile-private-leaderboard-submenu-parent-div {
    height: 100%;
    width: 100%;
    background-color: black;
}

.mobile-menu-link {
    color: rgba(255,255,255,.75) !important;
    text-decoration: none;
}